---
# Configure clang-tidy for this project.
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -misc-use-anonymous-namespace,
  -clang-diagnostic-builtin-macro-redefined,
  "

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: '
      spdlog/.*;
  '
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.ClassSuffix: _t
  readability-identifier-naming.StructSuffix: _t
  readability-identifier-naming.TemplateParameterCase: aNy_CasE
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ClassMemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.EnumConstantCase: aNy_CasE
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: k
  readability-implicit-bool-conversion.AllowIntegerConditions: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
  readability-function-cognitive-complexity.IgnoreMacros: true
