---
BasedOnStyle: WebKit
UseTab: Never
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
AlignTrailingComments: true
CompactNamespaces: true
Cpp11BracedListStyle: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
QualifierAlignment: Custom
QualifierOrder: [ 'inline', 'static', 'constexpr','type', 'const' ]
BreakBeforeBraces: Attach
IndentCaseLabels: true
SeparateDefinitionBlocks: Always
InsertBraces: true
InsertNewlineAtEOF: true
FixNamespaceComments: true
IncludeCategories:
  # Headers in <> without extension.
  - Regex: '<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 1
  # Headers in <> from specific external libraries.
  - Regex: '<(gtest|gmock)\/'
    Priority: 2
  # Headers in <> with extension.
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 3
  # Headers in "" with extension.
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 4
...
